{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}
{% block contenu %} <h1>Bienvenue sur SHOP- SHOP </h1>
 <div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Dropdown button
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
    <a class="dropdown-item" href="https://github.com/I-zeta-I/FaceZon">Github</a>
  </div>
  <p>LIKO Baptiste SIO1B</p>
</div>  {% endblock %} 